.schedule-title {
    font-size: 25px;
    line-height: 56px;
    padding-bottom: 42px;
}
.schedule-header {
    padding-top: 97px;
}
.schedule-subtitle{
	font-size: 17px;
	width: 315px;
	text-align: center;
}
.schedule-subtitle-box{
	padding-top: 23px;
}
.schedule-address-info-text{
	font-size: 12px;
}
.schedule-address-info-icon{
	width: 13px;
	height: 13px;
	margin-right: 10px;
}
.cierralo-schedule-cancel-btn{
	width: 104px;
    border-radius: 100px;
    border: none;
    font-size: 14px;
    line-height: 14px;
    color: white;
    margin: 10 0px !important;
    padding:11px 0px;
    text-decoration: none;
    text-align: center;
    margin-top: 21px;
}